@media (max-width: 1440px) {
  body{
    font-size: 18px;
  }

  .header{
    &__navbar{
      padding: 30px;
    }

    &__logo{
      font-size: 40px;
    }

    &__nav{
      font-size: 20px;

      li + li{
        margin-left: 40px;
      }
    }

    .link__drop-down{
      top: 79px;
    }
  }

  .home{
    height: auto;

    &__title{
      span{
        font-size: 25px;
        line-height: 25px;
      }

      h2{
        font-size: 80px;
        line-height: 90px;
      }
    }

    &__form{
      margin-top: 15px;
    }

    .video-bck{
      margin-bottom: -10px;
    }
  }

  .section__title{
    h3{
      font-size: 40px;
    }
  }

  .inner{
    &__title{
      font-size: 22px;
    }
  }

  .icon__circle{
    width: 80px;
    height: 80px;
  }

  .about .inner__icon i{
    font-size: 45px;

  }
}

@media (max-width: 1280px) {
  .features{
    .rectangles{
      width: 210px;
    }
    &__image{
      left: 0;
    }
  }

  .home{
    &__form{
      width: 100%;
      max-width: 100%;
      display: none;

      &.show{
        display: block;
      }
    }

    .form-group{
      display: flex;

      .form-control + .form-control{
        margin-top: 0;
        margin-left: 10px;
      }
    }

    .btn.mobile{
      display: block;
      width: auto;
    }

    &__title{
      span{
        font-size: 25px;
      }

      h2{
        font-size: 80px;
      }
    }
  }
}

@media (max-width: 1024px) {
  body{
    font-size: 18px;
  }

  .header{
    &__logo{
      font-size: 25px;
    }

    &__nav{
      font-size: 15px;

      li + li{
        margin-left: 35px;
      }
    }

    &__navbar{
      padding: 25px 30px;
    }
  }

  .link__open i{
    right: -15px;
  }


  .section__title{
    h3{
      font-size: 40px;
    }
  }

  .inner__title{
    font-size: 22px;
  }
}